<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instructions</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/static/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <form id="loginForm" action="/start" method="post">
        <input type="text" id="test_id" name="test_id" value="{{test_id}}" readonly>
    <div class="body-wrap">
        <p>
        Test environment rules 
        1. No other person is allowed to enter the room while you are taking the proctored exam. 
        2. The lighting in the room must be bright enough to be considered "daylight" quality. 
        Overhead lighting is preferred. If overhead lighting is not available, the source of light 
        must not be behind you. 
        3. You must sit at a clean desk or table. 
        4. The desk or walls around you must not have any writing. 
        5. The room must be as quiet as possible. Sounds such as music or television are not 
        permitted. 
        6. The following items must not be on your desk or used during your proctored exam, 
        unless posted rules for the exam specifically permit these materials: 
        • Books 
        • Paper 
        • Pens 
        • Calculators 
        • Textbooks 
        • Notebooks 
        • Phones
        </p>
        </div>

      
    </div>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>
